<h1 class="no-margin"><%= @todo_list.title %></h1>

<p><%= @todo_list.description %></p>

<h2>Items - <%= link_to 'Create New', new_todo_list_todo_item_path(@todo_list), class: 'new-item' %></h2>

<%= link_to 'View List Items', todo_list_todo_items_path(@todo_list), class: 'button' %>