<aside class="sidebar">
	
	<%= link_to "Anchor", root_path, class: 'logo' %>

	<nav class="nav" role="navigation">

		<%= link_to "View All Lists", todo_lists_path %>

		<%= link_to 'Create New List', new_todo_list_path %>

	</nav>

</aside><!-- end sidebar -->