body {background: $bg; font-family: $primary-font; font-size: $font-size; line-height: $line-height; color: $text-color; padding: 0 0 0 250px; text-transform: uppercase;}
.container {width: 90%; max-width: 1200px; position: relative; padding: 40px;}

.right {float: right;}
.left {float: left;}
.clear {clear: both;}
.clearfix:after {content: ""; display: block; clear: both;}

.none {display: none;}

a {color: $link; text-decoration: none; @include transition(all);
	&:hover {color: $link-hover; @include transition(all);}
	img {outline: none; border: none;}
}

h1 {font-size: $h1-size; line-height: 1.1em; color: $h1;}
h2 {font-size: $h2-size; line-height: 1.1em; color: $h2;}
h3 {font-size: $h3-size; line-height: 1.1em; color: $h3;}

.img-left {float: left; margin: 5px 15px 5px 0;}
.img-right {float: right; margin: 5px 0 5px 15px;}