/*    Fonts
-------------------------------------------------------------- */
$primary-font: "azo-sans-web";


/*    Colors
-------------------------------------------------------------- */

// General
$black: #000;
$white: #fff;
$bg: #fffffa;

// Content


// Typography
$text-color: #27292c; // used for main body text
$h1: $text-color; // used for <h1>'s
$h2: $text-color; // used for <h2>'s
$h3: $text-color; // used for <h3>'s
$link: $text-color; // main link color
$link-hover: #828888; // main link hover color



/*    Units
-------------------------------------------------------------- */

// Typography
$font-size: .875rem; // used for main body text
$line-height: 1.625rem; // used for line-height on main body text
$h1-size: 2.5rem; // used for size of content <h1>
$h2-size: 1.875rem; // used for size of content <h2>
$h3-size: 1.5rem; // used for size of content <h3>

// Breakpoints
$large-bp: 1200px;
$med-bp: 900px;
$small-bp: 500px;